* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* pantalla principal */
.pcv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(133, 133, 133);
}
.datos{
    position: absolute;
    top: 150px;
    left: 20px;
    z-index: 0;
}
.borde-pantalla{
    border: 10px solid rgb(61, 61, 61);
    width: 55%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    z-index: 2;
}
.pantalla{
    background-color: rgb(0, 165, 206);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 50px 20px rgba(255, 255, 255, 0.5) inset;
}
.contenido-pantalla{
    font-size: xx-large;
    font-family: monospace;
    color: rgba(0, 0, 80, 0.822);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.contenido-pantalla h1{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
    position: absolute;
    overflow: hidden;
    top: 25%;
}
.btn-entrar, .btn-consultar, .btn-retirar, .btn-ingresar, .btn-transferir, .btn-volver, .btn-login, .btn-confirmar-retiro, .btn-confirmar-ingreso, .btn-confirmar-transferencia, .btn-historial{
    padding: 10px 20px;
    font-size: x-large;
    font-weight: 600;
    cursor: pointer;
    border: 2px solid rgb(0, 0, 80);
    color: rgb(0, 0, 80);
    background-color: transparent;
}
.btn-entrar:hover, .btn-consultar:hover, .btn-retirar:hover, .btn-ingresar:hover, .btn-transferir:hover, .btn-volver:hover, .btn-login:hover, .btn-confirmar-retiro:hover, .btn-confirmar-ingreso:hover, .btn-confirmar-transferencia:hover, .btn-historial:hover{
    background-color: rgb(0, 0, 80);
    color: rgb(28, 202, 255);
    transition: 0.2s;
}

.txtInfo{
    /* alinear el texto debajo del boton iniciar sesión */
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
}



/* **************************************************************************************** */
/* datos de ingreso */

.datos-ingreso{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
#dni, #password, #monto-retirar, #monto-ingresar, #dni-destino, #monto-transferir{
    padding: 5px;
    font-size: large;
    border: 2px solid rgb(0, 0, 80);
    color: rgb(0, 0, 80);
    background-color: transparent;
    width: 200px;
}
.datos-ingreso label{
    font-size: xx-large;
    font-weight: 600;
    color: rgb(0, 0, 80);
}

.btn-login:hover{
    background-color: rgb(0, 0, 80);
    color: rgb(28, 202, 255);
    transition: 0.2s;
}

.btn-volver{
    position: absolute;
    bottom: 15%;
    left: 26%;
    display: none;
}
.btn-volver:hover{
    background-color: rgb(0, 0, 80);
    color: rgb(28, 202, 255);
    transition: 0.2s;
}

/* ******************************************************************************************* */
/* menu cajero */

.menu-cajero, .menu-transferir{
    display: none;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.row1 button, .row2 button, .row3 button{
    width: 250px;
}

/* ******************************************************************************************* */
/* menu funcionalidades */

.menu-retirar, .menu-ingresar{
    display: none;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.menu-historial{
    display: none;
    overflow-y: scroll;
    max-height: 40vh;
}
.historial thead tr{
    background-color: rgb(0, 0, 80);
    color: rgb(28, 202, 255);
    position: sticky;
    top: 0;
}
.historial thead tr th{
    padding: 5px;
    font-size: x-large;
}
.historial tbody tr td{
    padding: 5px;
    font-size: large;
    text-align: center;
}


/* ******************************************************************************************* */

/* responsive */


/*pantalla 1500px*/
@media (max-width: 1500px){
    .contenido-pantalla h1{
        font-size: 40px;
    }
}
/*pantalla 1200px*/
@media (max-width: 1200px){
    .contenido-pantalla h1{
        font-size: 30px;
    }
}
/*pantalla 900px*/
@media (max-width: 900px){
    .contenido-pantalla h1{
        width: 40%;
        top: 19%;
    }
}
/*pantalla 700px*/
@media (max-width: 700px){
    .contenido-pantalla h1{
        width: 50%;
        top: 15%;
    }
    .txtInfo{
        font-size: large;
    }
}
